USE [master]
GO
/****** Object:  Database [dinhtientrien_2310900107_de05]    Script Date: 10/07/2025 4:57:58 CH ******/
CREATE DATABASE [dinhtientrien_2310900107_de05]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dinhtientrien_2310900107_de05', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.BAOMATCAO\MSSQL\DATA\dinhtientrien_2310900107_de05.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dinhtientrien_2310900107_de05_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.BAOMATCAO\MSSQL\DATA\dinhtientrien_2310900107_de05_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dinhtientrien_2310900107_de05].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dinhtientrien_2310900107_de05]
GO
/****** Object:  Table [dbo].[DttTask]    Script Date: 10/07/2025 4:57:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DttTask](
	[DttTaskId] [int] IDENTITY(1,1) NOT NULL,
	[DttTaskName] [nvarchar](100) NOT NULL,
	[DttTaskLevel] [nvarchar](20) NULL,
	[DttStartDate] [date] NULL,
	[DttTaskStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DttTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DttTask] ON 

INSERT [dbo].[DttTask] ([DttTaskId], [DttTaskName], [DttTaskLevel], [DttStartDate], [DttTaskStatus]) VALUES (1, N'Dinh Tien Trien', N'12', CAST(N'2005-12-04' AS Date), 1)
INSERT [dbo].[DttTask] ([DttTaskId], [DttTaskName], [DttTaskLevel], [DttStartDate], [DttTaskStatus]) VALUES (2, N'Nguyen Van A', N'11', CAST(N'2004-10-01' AS Date), 1)
INSERT [dbo].[DttTask] ([DttTaskId], [DttTaskName], [DttTaskLevel], [DttStartDate], [DttTaskStatus]) VALUES (3, N'Tran Thi B', N'10', CAST(N'2003-09-15' AS Date), 0)
SET IDENTITY_INSERT [dbo].[DttTask] OFF
GO
USE [master]
GO
