@model DttLab06.Models.DttEmployee

<div class="form-group">
    <label asp-for="DttName" class="control-label"></label>
    <input asp-for="DttName" class="form-control" />
    <span asp-validation-for="DttName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DttBirthDay" class="control-label"></label>
    <input asp-for="DttBirthDay" type="date" class="form-control" />
    <span asp-validation-for="DttBirthDay" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DttEmail" class="control-label"></label>
    <input asp-for="DttEmail" class="form-control" />
    <span asp-validation-for="DttEmail" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DttPhone" class="control-label"></label>
    <input asp-for="DttPhone" class="form-control" />
    <span asp-validation-for="DttPhone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DttSalary" class="control-label"></label>
    <input asp-for="DttSalary" class="form-control" />
    <span asp-validation-for="DttSalary" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DttStatus" class="control-label"></label>
    <input asp-for="DttStatus" class="form-control" />
    <span asp-validation-for="DttStatus" class="text-danger"></span>
</div>
