@{
    ViewData["Title"] = ViewData["Title"];
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <h2>ViewBag: @ViewBag.Message</h2>

    <h3>TempData: @TempData["Notice"]</h3>

    <a href="/DttHome/DttAbout">Go to DttAbout (xem TempData còn không)</a>
</div>
