@{
    ViewData["Title"] = "Thong Tin Chung";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Ma Sv 2310900107</p>
<p>Ho&ten Dinh Tien Trien</p>
<p>Ngay sinh 20/12/2005 </p>