@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DoMixi
        For mixi with Love

    </h1>
    <p>Learn about <a href="https://youtu.be/Jk38OqdAQxc?si=yJqk3RphiynhVrJX">building Web apps with ASP.NET Core</a>.</p>
</div>
