@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Java Core

    </h1>
    <p>Learn about <a href="https://youtu.be/l8FUKPBQhZ0?si=_Fsl1u1bakaio8D7">building Web apps with ASP.NET Core</a>.</p>
</div>
