@{
    ViewData["Title"] = "Thông Tin Admim";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-info row d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card-img-bottom">
                <img class="card-img-top" src="../imge/01.png" alt="Name">
			</div>
            <p>Mã sinh viên :231010900107</p>			
			<p>Lớp:K23CNT3-Net</p>
			<p>Họ và tên:  Đinh Tiến Triển</p>
			<p> Giới Tính: Nam</p>
			<p>Số điện thoại: 097583916   </p>
			<p>Địa chỉ: Ninh Bình</p>
        </div>
    </div>
    
</div>