@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center alert alert-info">
    <h1 class="display-4">Welcome</h1>
	<p>Learn about building <a href="https://learn.microsoft.com/aspnet/core"> Web apps with ASP.NET Core.</a></p>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-4 mb-4">
        <div class="card-img-bottom">
            <img class="card-img-top" src="../imge/01.png" alt="Name">
        </div>
    </div>
</div>


