@{
    ViewData["Title"] = "Thong tin sinh vien";
}

<div class="alert alert-info">
	<h1>@ViewData["Title"]</h1>
	<hr />
	<p>Name: Dinh Tien Trien</p>
	<p>Email: tientriendinh244@gamil.com</p>
	<p>Phone: <a href="tel:0968212516">0968212516</a> </p>
	<p>Class: K23CNTT3</p>
	
</div>