@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Thông tin sinh viên</h2>
<ul>
    <li><strong>Họ và tên:</strong> @ViewBag.Name</li>
    <li><strong>MSSV:</strong> @ViewBag.MSSV</li>
    <li><strong>Email:</strong> @ViewBag.Email</li>

</ul>
